@import 'variables';

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70rem;

    @include flex(column, center, center);

    .s-main {
        margin-bottom: 10.5rem;
        position: relative;

        .container {
            width: 75.0rem;
            height: 24.0rem;
            
            @include flex(row, center, space-between);

            .left-container {
                height: 100%;
                img {
                    width: 34.0rem;
                    margin-bottom: 3.1rem;
                }
                
                p {
                    font-size: 24.5px;
                    text-transform: uppercase;
                    color: #ffffff;
                    line-height: 40px;
    
                    /* Text style for "Um" */
                    .p_1 {
                        font-weight: 800;
                        letter-spacing: 2.12px;
                    }
    
                    /* Text style for "olhar dife" */
                    .p_2 {
                        font-weight: 800;
                        letter-spacing: 2.12px;
                        color: $color2;
                    }
    
                    /* Text style for "traz novas" */
                    .p_3,
                    .p_4 {
                        font-weight: 400;
                        letter-spacing: 2.12px;
                    }
    
                    /* Text style for "novas ideias" */
                    .p_4 {
                        background-color: $color2;
                        padding: 2px;
                    }
                }

                @include responsive(375px) {
                    img {
                        width: 30rem;
                    }

                    p {
                        font-size: 23.5px;
                        text-transform: uppercase;
                        color: #ffffff;
                        line-height: 40px;
                    }
                }
            }

            .right-container {
                @include flex(column, center, space-between);
                height: 100%;

                p {
                    color: $color5;
                    font-weight: 700;
                    font-size: 55px;
                    line-height: 97.04px;
                    text-align: center;
                }
                
                .online {
                    @include flex(row, center, space-around);

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    span {
                        font-size: 18px;
                        font-weight: 300;
                        text-align: center;
                        margin-left: 1rem;
                        color: $color1;
                    }
                }

                .commands {
                    @include flex(column, center, space-between);

                    button {
                        width: 300px;
                        height: 56px;
                        color: $color1;
                        font-size: 19px;
                        font-weight: 600;
                        text-transform: uppercase;
                        border-radius: 3rem;
                        margin-top: 3rem;
                        cursor: pointer;
                    }

                    .check_regulation {
                        background-color: $color3;
                        transition: all .3s;

                        &:hover {
                            background-color: $color6;
                            border: 2px solid $color3;
                        }
                    }

                    .sign_up {
                        background-color: $color4;

                        transition: all .3s;

                        &:hover {
                            background-color: $color7;
                            border: 2px solid $color4;
                        }
                    }
                }
            }
        }

        @include responsive(767px) {
            .container {
                height: 65%;
                margin-top: 40rem;
                position: relative;

                @include flex(column, center, center);

                .right-container {
                    @include flex(column, center, center);
                }
            }
        }

        @include responsive(500px) {
            .container {
                height: 75%;
                margin-top: 30rem;
            }
        }

        @include responsive(375px) {
            .container {
                height: 90%;
                margin-top: 13rem;
            }
        }

        .grafismo2,
        .grafismo3 {
            position: absolute;
            width: 100px;
            top: -6rem;
        }

        .grafismo2 {
            right: -25rem;
        }

        .grafismo3 {
            left: -25rem;
        }


        @include responsive(1280px) {
            .grafismo2,
            .grafismo3 {
                width: 80px;
            }
    
            .grafismo2 {
                right: -20rem;
            }
    
            .grafismo3 {
                left: -20rem;
            }
        }

        @include responsive(1150px) {
            .grafismo2 {
                right: -12rem;
            }
    
            .grafismo3 {
                left: -12rem;
            }
        }

        @include responsive(1000px) {
            .grafismo2 {
                right: -8rem;
            }
    
            .grafismo3 {
                left: -8rem;
            }
        }

        @include responsive(900px) {
            .grafismo2 {
               display: none;
            }
        }

        @include responsive(800px) {
            .grafismo3 {
                left: -2rem;
                top: -10rem;
            }
        }

        @include responsive(767px) {
            .grafismo3 {
                left: 8rem;
                top: -8rem;
            }
        }

        @include responsive(500px) {
            .grafismo3 {
                display: none;
            }
        }
    }

    @include responsive(375px) {
        .s-main {
            margin-bottom: 6.5rem;
        }
    }

    footer {
        margin-top: 3rem;
        position: relative;

        .container {
            width: 75.0rem;
            @include flex(row, center, center);

            .pollen {
                margin-right: 5rem;
                img {
                    width: 85px;
                }
            }

            .careers {
                img {
                    width: 165px;
                }
            }
        }

        .grafismo1,
        .grafismo_cinza {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .grafismo1 {
            width: 160px;
            right: -25rem;
        }

        .grafismo_cinza {
            width: 300px;
            bottom: -20rem;
            right: -44rem;
        }

        @include responsive(1280px) {
            .grafismo1 {
                width: 150px;
                right: -20rem;
                bottom: -3rem;
            }

            .grafismo_cinza {
                width: 250px;
                bottom: -20rem;
                right: -36rem;
            }
        }

        @include responsive(1150px) {
            .grafismo1 {
                width: 150px;
                right: -12rem;
                bottom: -4rem;
            }

            .grafismo_cinza {
                width: 250px;
                bottom: -20rem;
                right: -31rem;
            }
        }

        @include responsive(1000px) {
            .grafismo1 {
                right: -8rem;
            }

            .grafismo_cinza {
                right: -24rem;
            }
        }

        @include responsive(900px) {
            .grafismo_cinza {
                display: none;
            }
        }

        @include responsive(800px) {
            .grafismo1 {
                right: -2rem;
                bottom: -7rem;
                width: 134px;
            }
        }

        @include responsive(767px) {
            .grafismo1 {
                right: 2rem;
                bottom: -7rem;
            }
        }

        @include responsive(500px) {
            .grafismo1 {
                opacity: 0;
            }
        }
    }
}


@include responsive(767px) {
    html,
    body {
        overflow: auto;
        overflow-x: hidden;
        min-height: 60rem;
    }
}